body {
    padding: 30px;
}

.box-one{
    border: 10px solid black;   
    width: 1000px;
    padding: 100px;
    height: 100px;
}

.square {
    background-color: blue;
    width: 50px;   
    height: 100px; 
    margin-top: 80px;
    display: inline-block;
}

.rectangle{
    background-color: green;
    height: 150px;
    width: 300px;
    margin-top: 50px;
    display: inline-block;
}






.box-two{
    border: 10px dotted black;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 50%;
    padding: 80px;
}







.box-three{
    padding: 25% auto;
    box-shadow: 5px 5px gray;
    width: 30%;
    background-color: white;
    height: 200px;
    margin-left: 17%;
    border-style: thin solid black;
}

.mytext{
    text-align: center;
    color: blue;
    letter-spacing: 10px;
    padding: 10%;
    font-size: 40px;
    
}
